<h1>Edit Favorite</h1>

<%= form_with model: @favorite, local: true do |form| %>
  <div class="form-group">
    <%= form.label :keywords %>
    <%= form.text_field :keywords, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.label :personal_notes %>
    <%= form.text_area :personal_notes, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= form.submit 'Update Favorite', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back', favorites_path, class: 'btn btn-secondary' %>
