<h1><%= @site_name %></h1>


<%=  form_tag('/person', method: 'get')  do %>
  <%= label_tag :search %>
  <%= text_field_tag :search, params[:search] %>
<% end %>

<% if @search_data_response.present? && @search_data_response["results"].present? %>

<div id="searchResults">
  <ul class="searchTesponseListUl">
      <% if responseData =  @search_data_response["results"] %>

      <% responseData.each do |result| %>

        <li class="searchResultListItem">
          <div class="searchResponseInfoContainer">
            <%= result["prefixTitle"] %><br>
            <strong><%= result["firstname"] %>
            <%= result["lastname"] %></strong>

          </div>

          <div class="searchResponseIconsContainer">
            <div class="searchResponseIconsDiv">
            <%= link_to person_detail_path(result["id"]) do %>
              <%= image_tag 'detail.png', class: "btn-img" %>
            <% end %>
          </div>

          <div class="searchResponseIconsDiv">
            <%= link_to person_favorite_path(result["id"]) do %>
              <%= image_tag 'favorite.png', class: "btn-img" %>
            <% end %>
          </div>

          </div>
        </li>

      <% end %>
    <% end %>
  </ul>
</div>
<% end %>