<h1 class="login-title">Sign Up</h1>

<%= form_for @user, url: register_create_path, class: 'login-form' do |f| %>
  <div class="form-group">
    <%= f.label :name, class: 'form-label' %><br>
    <%= f.text_field :name, class: 'form-input' %>
  </div>
  <div class="form-group">
    <%= f.label :password, class: 'form-label' %><br>
    <%= f.password_field :password, class: 'form-input' %>
  </div>
  <div class="form-group">
    <%= f.submit "Sign Up", class: 'submit-button' %>
  </div>
<% end %>
<button class="register-button"><%= link_to 'Go to Login', login_path, class:"register-link" %></button>