<div class="card">

    <div class="card-content">
      <h2><%= @title_en %></h2>
      <h2><%= @title_de %></h2>
      <p><strong>Short Description:</strong> <%= @short_description %></p>
      <p><strong>Contract Begin:</strong> <%= @contract_begin %></p>
      <p><strong>Contract End:</strong> <%= @contract_end %></p>
      <p><strong>Project Begin:</strong> <%= @project_begin %></p>
      <p><strong>Project End:</strong> <%= @project_end %></p>
      <p><strong>Project Form:</strong> <%= @project_form %></p>
      <p><strong>Project Type:</strong> <%= @project_type %></p>
      <p><strong>Abstract (DE):</strong> <%= @abstract_de %></p>
      <p><strong>Abstract (EN):</strong> <%= @abstract_en %></p>

      <h3>Institutes</h3>
      <% @institutes.each do |institute| %>
        <p>Project Coordinator: <%= institute[:project_coordinator] %></p>
        <h4>Project Members:</h4>
        <% institute[:project_members].each do |member| %>
          <p>Role (DE): <%= member[:role_de] %>, Role (EN): <%= member[:role_en] %></p>
        <% end %>
      <% end %>

      <h3>Keywords</h3>
      <% @keywords.each do |keyword| %>
        <p>DE: <%= keyword[:de] %>, EN: <%= keyword[:en] %></p>
      <% end %>

      <h3>Research Areas</h3>
      <% @research_areas.each do |research_area| %>
        <p>Name (DE): <%= research_area[:name_de] %>, Name (EN): <%= research_area[:name_en] %></p>
      <% end %>

      <h3>Financiers</h3>
      <% @financiers.each do |financier| %>
        <p>DE: <%= financier[:de] %>, EN: <%= financier[:en] %></p>
      <% end %>

    </div>
</div>

<%= link_to 'Go Back', :back, class: 'back-button' %>