<h1><%= @site_name %></h1>

<%= form_tag('/projects', method: 'get', class: 'searchForm') do %>
  <%= text_field_tag :search, params[:search], class: 'searchInput' %>
  <%= submit_tag 'Suchen', class: 'searchSubmitButton' %>
<% end %>

<% if @search_data_response.present? && @search_data_response["results"].present? %>
  <div id="searchResults">
    <ul class="searchResponseListUl">
      <% if responseData = @search_data_response["results"] %>
        <% responseData.each do |result| %>
          <% if result["id"].present? %>
            <li class="searchResultListItem">
              <div class="searchResponseInfoContainer">
                <strong><%= result["title"].html_safe %></strong>
                <p><%= result["short"].html_safe %></p>
              </div>

              <div class="searchResponseIconsContainer">
                <div class="searchResponseIconsDiv">
                  <%= link_to projects_detail_path(result["id"]), class: 'searchResponseIconsLink detail-button' do %>
                    <%= image_tag 'detail.png', class: "btn-img" %>
                    Details
                  <% end %>
                </div>

                <div class="searchResponseIconsDiv">
                  <%= form_with url: projects_favorite_path(result["id"]), class: 'searchResponseIconsLink', method: :post, local: true, class: 'searchResponseIconsLink favorite-button' do |form| %>
                    <%= form.hidden_field :type, value: 'Project' %>
                    <%= form.hidden_field :title, value: result["title"] %>
                    <%= form.hidden_field :short, value: result["short"] %>
                    <%= form.hidden_field :detail_url, value: result["detail_url"] %>
                    <%= form.hidden_field :detail_url_rest, value: result["detail_url_rest"] %>
                    <%= button_tag type: 'submit', class: 'favorite-button' do %>
                      <%= image_tag 'favorite.png', class: "btn-img" %>
                      Add to Favorites
                    <% end %>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
