<h1><%= @site_name %></h1>


<%= form_tag('/courses', method: 'get', class: 'searchForm')  do %>
  <%= text_field_tag :search, params[:search], class:'searchInput'%>
  <%= submit_tag 'Suchen', class: 'searchSubmitButton' %>
<% end %>

<% if @search_data_response.present? && @search_data_response["results"].present? %>

  <div id="searchResults">

    <ul class="searchTesponseListUl">
      <% if responseData =  @search_data_response["results"] %>
        <% responseData.each do |result| %>
          <li class="searchResultListItem">
            <div class="searchResponseInfoContainer">
              <strong><%= result["title"] %></strong>
            </div>

            <div class="searchResponseIconsContainer">
              <div class="searchResponseIconsDiv">
                <%= link_to course_detail_path(extract_parameters(result["detail_url"])), class: 'searchResponseIconsLink' do %>
                  <%= image_tag 'detail.png', class: "btn-img" %>
                <% end %>
              </div>

              <div class="searchResponseIconsDiv">
                <%= link_to course_favorite_path(extract_parameters(result["detail_url"])), class: 'searchResponseIconsLink' do %>
                  <%= image_tag 'favorite.png', class: "btn-img" %>
                <% end %>
              </div>

            </div>
          </li>

        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>